@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

html {
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --card-color:#4263EB;
  --card-hover-color:#364FC7;
}

body {
  width: 100%;
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);

  transition: 0.3s;
}
body.darkBlue {
  --bg-color: #00082F;
  --text-color: #fff;
  --card-color:#4263EB;
  --card-hover-color:#364FC7;
  transition: 0.4s;
}

body.pink{
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --card-color: #D6336C;
  --card-hover-color: #A61E4D;
  transition: 0.4s;
}

body.darkPink{
  --bg-color: #1F000B;
  --text-color: #fff;
  --card-color: #D6336C;
  --card-hover-color: #A61E4D;
  transition: 0.4s;
}

img {
  width: 100%;
}

img.avatar {
  
  height: 100px;
  width: 100px;
  padding: 3.7px;


  border: var(--card-color) solid 4px;
  border-radius: 50%;
}

.container {
  width: 300px;
  text-align: center;
  margin: 60px auto 0;
}

h1 {
  margin-top: 24px;
  margin-bottom: 8px;

  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}

p.username {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  opacity: 0.8;
}


ul.links-list {
  list-style: none;
  margin: 48px;
}

ul li a {
  height: 53px;
  width: 100%;

  margin-bottom: 16px;

  background: var(--card-color);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 6px;

  color: #fff;
  text-transform: uppercase;
  font-size: 14px;

transition: 0.3s;

}

ul li a:hover{
  background: var(--card-hover-color);
}

#color-pallete {
  position:absolute;
  top:0;
  left:0;

  opacity: 0.7;
  transition: 0.25s;
}
#color-pallete:hover {
  opacity: 1;
}


#color-pallete .themeList {
  display: flex;
  align-items: center;

  list-style: none;
}
.color.selected {
  border: 4px solid var(--card-color);
}
.color {
  background: #fff;
  padding: 12px;
  border-radius:50%;
  color: #fff;
  margin:1rem 0 0 1rem;

  cursor: pointer;
}
.color.darkBlue {
  background: #00082F;
  color: #00082F;
}
.color.pink {
  background: #FFF0F6;
  color: #FFF0F6;
}
.color.darkPink {
  background: #1F000B;
  color: #1F000B;
}

footer {
  width: 100%;
  padding: 2em 0;
  position: absolute;
  bottom: 0;
  

  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

footer p{
  opacity: 0.6;
  transition: 0.3s;
}
footer p:hover{
  opacity: 1;
}
footer a {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: underline;
}
footer a:hover{
    text-decoration: underline;
}